@{
    Layout = null;
}

<div id="banner">
    <div class="banner img-responsive @ViewBag.BannerImage-img">
        <h3 class="text-center banner-heading">@ViewBag.BannerHeading</h3>
        <p class="text-center banner-content">@ViewBag.BannerContent</p>
    </div>
</div>