@{
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert"><i class="material-icons">&#xE5CD;</i></button>
    <h4>A confirmation email has been sent to you.</h4>
    <p>Please click on the link you will find in your mail box to confirm the purchase.</p>
</div>